/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
font-family: "Audiowide", sans-serif;
margin-top: 114px;
}

.container{
height: 100vh;
align-content: center;
}

.card{
height: 370px;
margin-top:  auto;
margin-bottom: auto;
width: 400px;
background: rgb(56,109,140);
background: linear-gradient(90deg, rgba(56,109,140,0.6502976190476191) 0%, rgba(42,79,78,0.7203256302521008) 31%, rgba(38,140,152,0.4150035014005602) 100%);
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #1980b7;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
padding: 10px;
color: white;
font-size: 40px;
font-family: "Audiowide", sans-serif;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #1980b7;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #1980b7;
width: 10rem;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}