mat-toolbar{
  background-color: transparent;
  display: flex;
  height:auto;
  justify-content: space-around   ;
  font-size: 15px;
  border: 1px solid black;
}

.Main-descrip{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: auto;
  width: 1000px;
  height: 200px;
  padding:5px ;
}
.Links{
  text-decoration: none;
  color: antiquewhite;
}

.Links-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.Main-input{
  padding:5px ;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: auto;
}


.Inputs{
  background-color: bisque;
  border: 2px solid black;
  width: auto;
}

#input-Comen{
  width: auto;
  height: 100px;
}

.Main-input button{
  border: 1px solid black;
  box-shadow: 3px 3px 1px black;
}

.Div-Btn{
  padding: 10px;
  display: flex;
  justify-content: right;
}
