<main>
<div class="Head-Questions">
  <div class="CheckBox">
    <mat-checkbox disabled="true">CheckBox-1</mat-checkbox>
    <mat-checkbox [checked]="true" disabled="true">CheckBox-2</mat-checkbox>
    <mat-checkbox [checked]="true" disabled="true">CheckBox-3</mat-checkbox>
  </div>
  <div class="Input-btn-search">
    <input type="text" placeholder="Search">
    <button class="Btn-Search" (click)="InProgress()"><mat-icon>search</mat-icon><mat-icon>microphone</mat-icon></button>
  </div>
</div>

<div class="Body-Questions">
  <div class="ComboBox-Questions">
    <select>
      <option value="">Selecione una Opcion </option>
      <option value="">Opcion 1</option>
      <option value="">Opcion 2</option>
      <option value="">Opcion 3</option>
    </select>
  </div>
<div class="Main-Noticies">
  <div class="Column-text">
    <h2>Title 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam incidunt voluptate molestiae vel perspiciatis doloremque sint eos deleniti minima tempora, natus consequuntur est aperiam at explicabo consectetur quaerat magni officiis.</p>
  </div>
  <div class="Column-text">
    <h2>Title 2</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis laborum asperiores odio officiis rem alias atque labore maxime fugiat! Nisi vitae temporibus exercitationem molestias aperiam porro deserunt necessitatibus in eaque?</p>
  </div>
  <div class="Column-text">
    <h2>Title 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium necessitatibus nisi ipsam inventore aut ut provident impedit aliquid? Cupiditate eligendi adipisci esse cum fugit sint laudantium minus iste consequatur possimus?</p>
  </div>
  <div class="Column-text">
    <h2>Title 4</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eos fuga harum consequuntur minima ut nulla qui explicabo sit possimus ratione repudiandae laudantium repellat quos eaque dolores animi, voluptatem provident!</p>
  </div>
  <div class="Div-Coments">
    <h3 style="text-decoration: underline black;">Comentarios</h3>
    <input type="text">
    <textarea cols="30" rows="10" style="resize: none;"></textarea>
    <button type="submit" class="btn-Submit" (click)="InProgress()">Enviar</button>
  </div>
</div>
</div>
</main>