<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="membresia.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <h3>ORO</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quis accusamus odio itaque vitae. Nisi dolore ullam eius consequatur ratione consectetur amet quidem ipsam assumenda. Architecto assumenda delectus recusandae facilis?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur qui molestias, tempore harum mollitia fuga eos labore tempora ratione asperiores dignissimos obcaecati laboriosam veniam aliquid aspernatur? Repellendus tempora vero corporis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ab molestiae, nemo vel architecto non. Rerum provident maxime officiis vitae debitis asperiores voluptatum pariatur vel, blanditiis illo id explicabo rem.
            </p>
        </div>
        <div class="card">
            <h3>PLATA</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, doloremque ut cum aliquam omnis consequatur fugit expedita eaque, tempora optio, harum beatae ipsum. Beatae eaque nam aliquam dignissimos voluptatem. Voluptatum.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, magni? Voluptate sed quos, excepturi nulla a ea error facere voluptatem incidunt reiciendis. Rem magnam corrupti at? Consequuntur excepturi aperiam aut.
            </p>
        </div>
        <div class="card">
            <h3>BRONCE</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut suscipit culpa praesentium fugiat dignissimos reiciendis iste, cum, atque ut, illo accusamus error. Rem ipsam ullam corrupti sequi aspernatur sapiente ex?</p>
        </div>
    </div>

    <div class="text">
    <h2>Porque Elegirnos</h2>
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem et vel ut vero sed possimus reprehenderit eveniet laborum. Dignissimos nesciunt accusamus, sint consequatur numquam optio eos assumenda unde similique tenetur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate, quas corrupti ipsum dolorem libero ducimus cum, tempora delectus, at dolore saepe sapiente fugiat sint totam sit voluptatibus in veniam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, sequi. A deserunt quos delectus quas! Est ducimus quaerat iste explicabo incidunt nihil consequatur, neque delectus. Tempora enim dignissimos modi dolorem?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab laboriosam earum aspernatur saepe voluptatibus sed enim quos mollitia! Sed consequatur pariatur sit laboriosam facere, fugiat magni accusamus praesentium vero nihil?
        </p>
    </div>
</body>
</html>