
<mat-toolbar class="toolbar-main">
<div class="void-main">
  <div>
    <a href="" class="Links">{{title}}</a>
  </div>

  <div class="div-Sesion">
    <a href="perfil/login" class="Links">Login/</a>
    <a href="perfil/register" class="Links">Register</a>
    <button [routerLink]="['questions']" class="Question">
      ?
    </button>
  </div>
</div>
</mat-toolbar>

<mat-toolbar class="toolbar-Nav">
  <mat-progress-bar mode="buffer"></mat-progress-bar>
  <div class="Btn-Link">
    <button routerLink="cursos" class="btns">
      cursos
    </button>
    <button routerLink="pay" class="btns">
      membresia
    </button>
    <button routerLink="perfil" class="btns">
      perfiles
    </button>
  </div>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</mat-toolbar>
