@import url('https://fonts.googleapis.com/css?family=Numans');


*{
  padding: 0;
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.void-main{
  margin: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolbar-main{
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: transparent ;
}

.toolbar-Nav{
  display: flex;
  justify-content: center;
  background-color: transparent ;
  border-bottom: 2px solid rgb(5, 5, 5);
}

.div-Sesion {
  display: flex;
  align-items: center;
}

.Question{
  border: 2px solid rgb(5, 5, 5);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 10px;
}
button{
  border: 0px;
  background-color: transparent;
}

.Links{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.btns{
  text-decoration: underline black ;
  color: rgb(36, 36, 36);
}
.Btn-Link {
  display: flex;
  justify-content:space-around;
  width: 1500px;
  height: 30px;
}