*{
  padding: 0;
  font-family: "Audiowide", sans-serif;
  font-size: 20px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.void-main{
  margin: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.toolbar-main{
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.toolbar-Nav{
  display: flex;
  justify-content: center;
}

.div-Sesion {
  display: flex;
  align-items: center;
}

.Question{
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 20px;
  color: rgb(252, 250, 250);
  margin: 10px;
}
button{
  border: 0px;
  background-color: transparent;
}

.Links{
  color: rgb(255, 254, 254);
  text-decoration: none;
}

.btns{
  text-decoration: underline black ;
  color: rgb(36, 36, 36);
}
.Btn-Link {
  display: flex;
  justify-content:space-around;
  width: 1500px;
  height: 30px;
  border: 1px solid black;
}


mat-progress-bar{
  width: 850px;
}
