<div class="void">

  <div class="side-nav">
    <mat-sidenav-container class="side-nav-container">
      <dl>
        <dt>
          1 Opcion
        </dt>
        <dd>1 Results</dd>
        <dd>2 Results</dd>
        <dt>
          2 Opcion
        </dt>
        <dd>3 Results</dd>
        <dd>4 Results</dd>
        <dt>
          3 Opcion
        </dt>
        <dd>5 Results</dd>
        <dd>6 Results</dd>
        <dd>7 Results</dd>
        <dd>8 Results</dd>
        <dt>
          4 Opcion
        </dt>
        <dd>9 Results</dd>
        <dd>10 Results</dd>
      </dl>
    </mat-sidenav-container>
  </div>

  <div class="Main-information">  
      <h1>Aca va una corta descripcion del proyecto</h1>
    <div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus amet explicabo eaque in perferendis exercitationem est, nihil deserunt modi, animi neque qui molestiae. Sit, exercitationem architecto? Quam similique quo iusto!  
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet magni voluptas illum saepe, aut exercitationem, ratione corporis unde corrupti delectus distinctio voluptatem quis quisquam placeat commodi possimus incidunt, qui necessitatibus!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dicta? Quam commodi aliquam accusamus nesciunt excepturi temporibus vitae aliquid, libero obcaecati adipisci aperiam? Praesentium repellendus iste natus! Labore, laboriosam impedit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dignissimos exercitationem quis eum blanditiis eveniet cumque ut illo quam, quisquam sed placeat pariatur veritatis neque quibusdam rem hic minus minima!
      </p>
    </div>
  </div>
</div>
