<div class="Carrucel">

  <div class="center">
    <swiper [slidesPerView]="3" effect="coverflow">
      
      <ng-template swiperSlide><img src="../../../assets/Number-1.png" alt=""></ng-template>

      <ng-template swiperSlide><img src="../../../assets/Number-1.png" alt=""></ng-template>

      <ng-template swiperSlide><img src="../../../assets/Number-1.png" alt=""></ng-template>

      <ng-template swiperSlide><img src="../../../assets/Number-1.png" alt=""></ng-template>

      <ng-template swiperSlide><img src="../../../assets/Number-1.png" alt=""></ng-template>

      <ng-template swiperSlide><img src="../../../assets/Number-1.png" alt=""></ng-template>
    </swiper>
  </div>
  <div class="Text-Carrucel">
    <h3>Text Carrucel</h3>
  </div>
</div>

<div class="void">

  

</div>
