<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfiles.component.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fontawesome.com/icons/heart?s=solid&f=classic" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
 <div >
    <img class="img-principal" src="../../../assets/perfiles/bienvenidorosa.jpg" alt="" ></div>
    <h2>Programadores</h2>

 <section class="content-perfil">
    <img class="next" src="../../../assets/iconos/flecha-izquierda.png">
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/mujer.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/hombre.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/hombre2.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <img class="next" src="../../../assets/iconos/siguiente.png">
 </section>

 <h2>Audiovisuales</h2>
 <section class="content-audio">
    <img class="next" src="../../../assets/iconos/flecha-izquierda.png">
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/hombre.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/mujer.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil"  src="../../../assets/perfiles/hombre2.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <img class="next" src="../../../assets/iconos/siguiente.png">
 </section>
 <h2>Modeladores</h2>
 <section class="content-graficos">
    <img class="next" src="../../../assets/iconos/flecha-izquierda.png">
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/mujer.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/mujer.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/hombre2.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <img class="next" src="../../../assets/iconos/siguiente.png">
 </section>
 <h2>Diseñadores Graficos</h2>
 <section class="content-diseño">
    <img class="next" src="../../../assets/iconos/flecha-izquierda.png">
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/hombre.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/hombre2.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <div class="perfiles">
        <img class ="img-perfil" src="../../../assets/perfiles/mujer.jpg">
        <h3>Nombre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit non provident iste reprehenderit, ducimus excepturi eveniet sapiente voluptatem molestiae rem cupiditate distinctio vitae, eos laboriosam nostrum, incidunt eligendi exercitationem?</p>
        <img class="icons" src="../../../assets/iconos/favorito.png">
        <img class="icons" src="../../../assets/iconos/contactenos.png">
        <img class="icons" src="../../../assets/iconos/github.png">
    </div>
    <img class="next" src="../../../assets/iconos/siguiente.png">
 </section>
</body>
