<div class="Div-Input">
  <input type="text" placeholder="Buscar Curso Especifico" class="Input-Search">
  <button class="Btn-Search" (click)="InProgress()"><mat-icon>search</mat-icon></button>
</div>

<div class="main-cursos">

  <div class="Column-First-Curso">

    <div class="cursos-div">
      <h2>PrimerCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>SegundoCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>TercerCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>CuartoCurso</h2>
    </div>
  </div>

  <div class="Column-Second-Curso">
    <div class="cursos-div">
      <h2>QuintoCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>SextoCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>SeptimoCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>OctavoCurso</h2>
    </div>
  </div>

  <div class="Column-Three-Curso">
    <div class="cursos-div">
      <h2>NovenoCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>DecimoCurso</h2>
    </div>

    <div class="cursos-div">
      <h2>OnceavoCuros</h2>
    </div>

    <div class="cursos-div">
      <h2>DoceavoCurso</h2>
    </div>
  </div>

  <div class="ComboBox-Curso">

    <select class="Select-Categoria">
      <option value="">Seleccione Categoria Del Curso</option>
      <option value="">Categoria 1</option>
      <option value="">Categoria 2</option>
      <option value="">Categoria 3</option>
      <option value="">Categoria 4</option>
      <option value="">Categoria 5</option>
      <option value="">Categoria 6</option>
    </select>

    <select class="Select-Time">
      <option value="">Seleccione la duraccion Del Curso</option>
      <option value="">Tiempo 1</option>
      <option value="">Tiempo 2</option>
      <option value="">Tiempo 3</option>
      <option value="">Tiempo 4</option>
      <option value="">Tiempo 5</option>
      <option value="">Tiempo 6</option>
    </select>

    <select class="Select-Coste">
      <option value="">Seleccione el costo Del Curso</option>
      <option value="">Gratis</option>
      <option value="">Paga</option>
    </select>

    <button class="Btn-Search" (click)="InProgress()"><mat-icon>search</mat-icon></button>
  </div>
</div>
